# Database & SQLite files
*.db
*.sqlite3

# Python bytecode & cache
__pycache__/
*.py[cod]
*$py.class

# Environment & Virtualenv
.env
.venv
env/
venv/
ENV/

# IDE & Editor files
.vscode/
.idea/
.DS_Store
